<app-my-header></app-my-header>
<div class="row g-0">
  <div class="col-2">
    <app-my-sidebar></app-my-sidebar>
  </div>
  <div class="col-10 p-5 bg-warning">
    <app-students-page></app-students-page>
  </div>
</div>

<!-- <app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3>
<app-my-header-3></app-my-header-3> -->

<!-- <main class="container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae autem
    repudiandae voluptatum, dolorum culpa corrupti fugiat minima, amet iste
    veritatis repellendus! Qui, suscipit! Soluta, nostrum cum quia laborum amet
    impedit!
  </p>

  <button (click)="sumar()">Sumar!</button>
  <button (click)="saludar()">Saludar!</button>
</main> -->
